.add-events-btn {
  /*margin-bottom: 40px;*/




}

.add-event-form {
  padding-top: 20px;
  border: 2px solid #333;

  legend {
    padding: 0 15px 5px 15px;
    margin-bottom: 20px;

  }
}

.pure-control-group {
  color: #333;
}
